.nav{
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
}
.nav-list{
    justify-content: space-between;
    font-size: 16px;
    &_link{
        color: $maincolor-text;
        margin: 10px;  
        &:hover{
            color: #000;
            text-shadow: 0.2px 0.2px 0.2px #777;
        }      
    }
    i{
        color: $blue-text;
        margin: 10px;
        font-size: 18px;
    }
} 

.credits{
    color: $blue-text;
    font-size: 14px;
    &:hover{
        text-shadow: 0.2px 0.2px 0.2px #777;
    }
}
.logo-img:focus{
    outline: none;
}
.menu{
    display: none;
}

@media (max-width: 1000px) {
    .side-nav li:not(:last-child),
    .main-nav li:not(:first-child){
        display: none;
    }
    .menu{
        display: inherit;
    }
}

@media (max-width: 360px) {
    .logo-img img{
        width: 120px;
    }
}

