.footer{
    background-color: #fff;
    padding: 20px 0 40px;
    &-list{
        justify-content: flex-start;
        padding-bottom: 15px;
    }
    &-link{
        margin-right: 15px;
        a{
            color: #a1a1a1;
            font-size: 14px;
            letter-spacing: .6px;
            &:hover{
                color: #717171;
                transition: .5s;
            }
        }
    }
    &-info{
        color: #a1a1a1;
        font-size: 12px;
        margin-top: 7px;
    }
}
.to-top{
    position: absolute;
    bottom: -300px;
    right: 3%;
    background-color: #fff;
    padding: 15px;
    font-size: 24px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba( 0, 0, 0, .2);
    color: #dcdcdc;
    &:hover{
        color: #a1a1a1;
        box-shadow: 1px 1px 5px rgba( 0, 0, 0, .4);        
        transition: .5s;
    }
}

@media (max-width: 1117px) {
    .to-top{
        bottom: -700px
    }
}

@media (max-width: 590px) {
    .to-top{
        display: none;
    }
    .footer-list{
        flex-wrap: wrap;
        a{
            margin-bottom: 10px; 
        }        
    }
}

