<footer class="footer">
    <div class="container">
        <ul class="footer-list flex">
            <li class="footer-link bold"><a href="#">Правила</a></li>
            <li class="footer-link bold"><a href="#">Пользовательское соглашение</a></li>
            <li class="footer-link bold"><a href="#">О проекте</a></li>
            <li class="footer-link bold"><a href="#">Обратная связь</a></li>
        </ul>        
        <p class="footer-info">
            ©«KIKI». Лучший on-line сервис по поиску спонсоров и содержанок, 2015-2017
        </p>
        <p class="footer-info">
            Администрация не несёт ответственности за размещённые анкеты. Вся информация на сайте предоставлена посетителями.
        </p>
        <a href="#top" class="to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>
</footer>