<footer class="footer container">
    <div class="smaller flex">
        <img src="./img/goldenb.png" width="70px" alt="advanced terapy system" class="footer-img">
        <div class="footer-info">
            <h3 class="footer-title">Advanced Terapy System</h3>
            <div class="footer-bye flex">
                <div class="footer-price">$29.99</div>
                <div class="footer-price-info"> &lt;&lt; 33% Savings + additional $10 OFF Price!</div>
            </div>
        </div>
        <a href="#" class="footer-btn add-btn">Add to card</a>  
    </div> 
</footer>