<div class="girl-cards">
    <div class="container flex">  
        <div class="card card1">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>12</a></div>
                <div class="top uppercase">топ</div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name online">Кристиночка, 28</div>
                <div class="live">Санкт-Петербург, Россия</div>
            </div>
        </div>
        <div class="card card2">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>3</a></div>
                <div class="top uppercase">топ</div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name online">Диана, 20</div>
                <div class="live">Самара, Россия</div>
            </div>
        </div>
        <div class="card card3">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>145</a></div>
                <div class="top uppercase">топ</div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name online">Аня, 18</div>
                <div class="live">Ростов-на-Дону, Россия</div>
            </div>
        </div>
        <div class="card card4">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>17</a></div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name">Анжелика, 27</div>
                <div class="live">Чебоксары, Россия</div>
            </div>
        </div>
        <div class="card card5">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>12</a></div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name online">Лариса, 32</div>
                <div class="live">Москва, Россия</div>
            </div>
        </div>
        <div class="card card6">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>3</a></div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name">Настя, 21</div>
                <div class="live">Зеленоград, Россия</div>
            </div>
        </div>
        <div class="card card7">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>4</a></div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name">Евгения, 30</div>
                <div class="live">Ростов-на-Дону, Россия</div>
            </div>
        </div>
        <div class="card card8">
            <div class="card_marks flex">
                <div class="cam"><a href="#"><i class="fa fa-camera" aria-hidden="true"></i>28</a></div>
            </div>
            <div class="card_nav flex">
                <div class="star"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Избранное</a></div>
                <div class="msg"><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Написать</a></div>
            </div>
            <div class="card_info">
                <div class="name">Ольга, 25</div>
                <div class="live">Казань, Россия</div>
            </div>
        </div>
    </div>
</div>