<div class="statistics container">
    <div class="smaller">
        <h2 class="stat-title bold uppercase">after using for 2 minutes at a time, percent experienced improvement of the following to their hair:</h2>
        <div class="flex">
            <ul class="stat-view ">
                <li class="stat-bar flex">
                    <div>
                    <lable>Stronger Feeling Hair</lable>
                    <div class="statistics-100"><div class="statistics-some" style="width:81%"></div> </div></div>81%
                </li>
                <li class="stat-bar flex">
                    <div>
                    <lable>Thicker Feeling Hair</lable>
                    <div class="statistics-100"><div class="statistics-some" style="width:81%"></div> </div></div>81%
                </li>
                <li class="stat-bar flex">
                    <div>
                    <lable>Shinier Looking Hair</lable>
                    <div class="statistics-100"><div class="statistics-some" style="width:83%"></div> </div></div>83%
                </li>
            </ul>
            <ul class="stat-view ">
                <li class="stat-bar flex">
                    <div>
                    <lable>Improved Healthy Appearance of Hair</lable>
                    <div class="statistics-100"><div class="statistics-some" style="width:88%"></div> </div></div>88%
                </li>
                <li class="stat-bar flex">
                    <div>
                    <lable>Hair had More Body</lable>
                    <div class="statistics-100"><div class="statistics-some" style="width:85%"></div> </div></div>85%
                </li>
                <li class="stat-bar flex">
                    <div>
                    <lable>Healthier Feeling Condition of Scalp</lable>
                    <div class="statistics-100"><div class="statistics-some" style="width:83%"></div> </div></div>83%
                </li>
            </ul>
        </div>
        <div class="stat-info">*Based on results from independent expert graders from an 8 week clinical study. Subjects were instructed to allow shampoo to penetrate for <b class="bold">2 minutes</b> before rising and then follow with system conditioner.</div>
    </div>
</div>