<div class="other container">
    <div class="smaller">
        <h2 class="other-title bold uppercase">other hair kits</h2>
        <div class="other-both">
            <div class="other-blue">
                <div class="other-info">
                    <h3 class="other-product-title">The Blue Kit</h3>                    
                    <div class="reward">
                        <div class="reward-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>               
                        </div>
                        <div class="reviews"><a href="#">6385 Reviews</a></div>
                    </div>
                    <ul class="other-advantages-list list">
                        <li>Basic hair loss prevention system</li>
                        <li>15 key active ingredients</li>
                        <li>Biotin encourages healthy, stronger hair</li>
                        <li>Antioxidants keep hair healthy</li>
                    </ul>
                </div>
                <img src="./img/blueb.png" alt="the blue kit" width="120px" class="other-blue-img">        
            </div>
            <div class="other-pro">
                <div class="other-info">
                    <h3 class="other-product-title">The Pro Kit</h3>                   
                    <div class="reward">
                        <div class="reward-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>               
                        </div>
                        <div class="reviews"><a href="#">507 Reviews</a></div>
                    </div>
                    <ul class="other-advantages-list list">
                        <li>Maximum strength system</li>
                        <li>18 key active ingredients</li>
                        <li>Red Korean Seaweed Extract supports stronger healthier hair</li>
                    </ul>
                </div>
                <img src="./img/redb.png" alt="the pro kit" width="120px" class="other-pro-img"> 
                <img src="./img/45`.png" alt="limited time offer" width="120px" class="other-ribbon">       
            </div>
        </div>
    </div>
</div>