<div class="container">
    <div class="product smaller">
        <div class="product-picts">
            <div class="product-main">
                <a href="#" class="product-mark"></a>               
                <a href="#" class="product-main-img"></a>               
            </div>
            <div class="product-more">
                <a href="#" class="product-closer"><img src="./img/+.png" alt="more" width="20px"></a>
                <a href="#" class="product-more-picts active"><img src="./img/goldenb.png" alt="picture 1" width="80px"></a>
                <a href="#" class="product-more-picts"><img src="./img/goldenb.png" alt="picture 2" width="80px"></a>
            </div>
        </div>
        <div class="product-description">
            <h1 class="product-title">Advanced Therapy System</h1>
            <div class="reward">
                <div class="reward-stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>               
                </div>
                <div class="reviews"><a href="#">8709 Reviews</a></div>
            </div>
            <ul class="product-advantages-list list">
                <li>17 Key ACTIVE ingredients</li>
                <li>Revives damaged and distressed hair</li>
                <li>Supports healthy scapl, regenerates hair, and revitalizes follicles</li>
                <li>Adds body, increases volume, and thickens hair</li>
            </ul>
            <div class="product-price">
                <div class="product-price-before bold">$39.99</div>
                <div class="product-price-sale bold">Reg $59.99</br>33% Savings!</div>
            </div>
            <div class="product-price product-price-now "> 
                <div>              
                    <div class="product-price-after bold">$29.99</div>
                    <div class="product-price-sale sale-after">*Additional $10 OFF applied!</div>
                </div>
                <a href="#" class="add-btn btn big-btn">Add to card</a>
            </div>
        </div>
    </div>
</div>