<div class="using container">
    <div class="smaller">
        <ul class="using-steps">
            <li class="using-step">
                <img src="./img/step1.png" alt="step1" width="170px" class="using-img">
                <div class="using-step-text">Gently massage <b class="bold">3-5 pumps</b> into hair and scalp.</div>
            </li>
            <li class="using-step">
                <img src="./img/step2.png" alt="step2" width="170px" class="using-img">
                <div class="using-step-text">Leave on <b class="bold">2-Minutes</b> for deep penetration.</div>
            </li>
            <li class="using-step">
                <img src="./img/step3.png" alt="step3" width="170px" class="using-img">
                <div class="using-step-text">Rinse</div>
            </li>
        </ul>
        <div class="using-text">Repeat Steps 1-3 with your favorite <b class="bold uppercase">pura d`or</b> conditioner.</br>
        For best results use <b class="bold">dailv</b>. Visible results after 3 month. Continue use thereafter.</div>
    </div>
</div>