<div class="NO container">
    <div class="smaller">
        <div class="NO-info">Every product we offer felivers premium solutions while keeping the earth in mind. Our goal is to be your trusted source for healthy and save beauty solutions.</div>
        <div class="NO-both flex">
            <ul class="NO-list">
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no harmful chemicals</div>
                </li>
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no parabens</div>
                </li>
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no artifical colorants</div>
                </li>
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no petrolatum</div>
                </li>
            </ul>
            <ul class="NO-list">
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no sulfates</div>
                </li>
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no phthalates</div>
                </li>
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no mineral oil</div>
                </li>
                <li>
                    <img src="./img/no1.png" alt="NO" width="30px" class="NO-img">
                    <div class="uppercase">no common allergens</div>
                </li>
            </ul>
        </div>
    </div>
</div>