<nav class="nav">
    <div class="container">                
        <ul class="nav-list flex">
            <li class="menu"><a><i class="fa fa-bars" aria-hidden="true"></i></a></li>
            <li>
                <ul class="main-nav flex">
                    <li class="logo"><a href="#" name="top" class="logo-img nav-list_link"><img src="./img/logo.png" alt="logo"></a></li>                    
                    <li><a class="nav-list_link" href="#">Поиск</a></li>
                    <li><a class="nav-list_link" href="#">Мои переписки</a></li>
                    <li><a class="nav-list_link" href="#">Избранное</a></li>
                    <li><a class="nav-list_link" href="#">Кто смотрел</a></li>
                </ul>
            </li>
            <li>
                <ul class="side-nav flex">
                    <li><a class="nav-list_link" href="#">Премиум<i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a></li>
                    <li><a class="credits" href="#">100 кредитов</a></li>
                    <li><a class="nav-list_link flex" href="#"> <img class="profile-pict" src="./img/profile-pict.png" alt="profile pict"><i class="fa fa-angle-down bold" aria-hidden="true"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>