<div class="paginator">
    <div class="container flex">
        <ul class="pages-list flex">
            <li class="page-slider"><i class="fa fa-chevron-left" aria-hidden="true"></i></li>
            <li class="page active-page">1</li>
            <li class="page">2</li>
            <li class="page">3</li>
            <li class="page">4</li>
            <li class="page">5</li>
            <li class="page">6</li>
            <li class="page-slider"><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
        </ul>
    </div>
</div>