<div class="search">
    <div class="container">
        <h2 class="search__title">Я ищу</h2>
        <form action="" class="search__form flex">
            <div class="search__form-main flex">
                <div class="select">
                    <input type="radio" name="action" value="" checked=""><label>Девушку</label>
                    <div>
                        <input type="radio" name="action" value="edit"><label>Парня</label>
                    </div>
                </div>
                <div>
                    <div class="cities flex"></div>
                    <input type="text" id="city-picker" placeholder="Выберите город">
                </div>
                <div class="age flex">
                    <label for="#slider">Возраст</label>
                    <div id="slider"></div>   
                </div>     
                <a href="#" class="search-btn uppercase btn">Найти</a>
            </div>
            <div class="search__form-more">
                <div class="show-more flex">
                    <hr>
                    <a class="show-more_text">Расширеный поиск<i class="fa fa-angle-down bold" aria-hidden="true"></i></a>
                    <hr>
                </div>
            </div>
        </form>
    </div>
</div>