.product-{
    &description{
        max-width: 400px;
    }
    &picts{
        margin-right: 60px;
    }
    &main{
        display: flex;
    }
    &more{
        display: flex;
        align-items: flex-start;
        *{
            margin: 10px;
        }
    }
    &mark{
        background: url(../img/clinic.png) center no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
        position: relative;
        left: 20px;
        top: 10px;
    }
    &title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    &price{
        display: flex;
        margin-top: 20px; 
        *{
            margin-right: 10px;
        }
        &-sale{
            font-size: 12px;            
        }
        &-after{
            font-size: 42px;
            color: #de3a4c;
        }   
        &-before{
            font-size: 30px;
            text-decoration: line-through;
            color: #91989a;
        } 
        &-now{
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }  
    }
    
    &closer{
        margin: 0;
        position: relative;
        bottom: 40px;
        left: 50px;
    }
    &main-img{
        background: url(../img/goldenb.png) center no-repeat;
        background-size: contain;
        width: 220px;
        height: 300px;
    }
}

.sale-after{
    align-self: flex-end;
}

.product{
    padding-top:20px;
    padding-bottom: 30px; 
    align-items: flex-start;
    &.smaller{
        display: flex;
    }
    .active{
        border: 1px solid #999;
        cursor: default;
        pointer-events: none;
    }
}

@media (max-width: 890px) {
    .product-more{
      display: none;
    }
    .product{
        padding: 0;
    }
    .product-{
        &mark{
            width: 60px;
            height: 60px;
            position: relative;
            left: 40px;
            top: 30px;
        }
        &main-img{
            width: 175px;
            height: 225px;
        }
        &picts{
            margin-right: 10px;
            margin-left: -60px;
        }
        &title{
            font-size: 16px;
            margin-bottom: 5px;
        }
        &advantages-list li{
            font-size: 14px;
            margin-bottom: 4px;
        }
        &price{
            margin-top: 10px;
            &-before{
                font-size: 18px;            
            }
            &-sale{
                font-size: 10px;            
            }
            &-after{
                font-size: 28px;            
            }
        }
    }
    .add-btn.big-btn{
        padding: 15px 25px;
        border-radius: 30px;
        font-size: 15px;
    }
    .reward-stars i, .reviews{
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    .product.smaller{
        flex-wrap: wrap;
        justify-content: center;
    }   
    .product-title{
        margin-top: 7px;
    }
}
